<h3 class="title is-4">Checkout</h3>

<%# cart contents %>
<%= render "products/cart_contents"%>

<div class="block">
  <p>Select Province to apply tax:</p>
   <nav class="navbar">
    <% Province.all.each do |p| %>
      <%= link_to p.name, determine_tax_path(p.id), :class=>"navbar-item" %>
    <% end %>
   </nav>
</div>
