<div class="block">
  <h3 class="title is-6"><%= link_to order.id, order %></h3>
  <p>Customer: <%= link_to order.customer.name, order.customer %></p>
  <p>Purchase: <%# link_to order.product.name, order.product %></p>
  <% order.products.each do |p| %>
  <%= p.name%>
  <% end %>

</div>