<div id="aboutUs">
<h1>About Us</h1>
  <p>Nestled in the southwest corner of charming Canmore, crust & crumb offers a wide selectionfresh daily breads and pastries. The bakerysourdough leavened loaves and a variety of weeklchoice specials. crust & crumb partners wproducers to source the freshest and highest qualigrains, eggs, fruit preserves, and veggies. </p>
</div>

<div id="block2">
    <h4>mainstay loaves</h4>
    <ul>
        <li>rustic sourdough</li>
        <li>flax & pepitas</li>
        <li>jalepe&ntilde;o cheddar</li>
        <li>cracked rye</li>
        <li>multigrain</li>
    </ul>
</div>

<div id="block3">
    <h4>weekly specials</h4>
    <ul>
        <li>loaf</li>
        <li>cookie</li>
        <!-- <li>loaf</li> -->
        <li>hand pie</li>
        <li>gallette</li>
        <li>baker's choice</li>
    </ul>
</div>