<h1>Search Results</h1>

<p>You searched for '<%= params[:query] %>'.</p>
<p><%= pluralize(@products.size, "result")%> found.</p>

<% if @products.empty? %>
  <p>No products found.</p>
<% else %>
  <ul>
    <% @products.each do |product| %>
      <li> <%= link_to product.name, product %> </li>
    <% end %>
  </ul>
<% end %>