<h1 class="title is-4">Search Results</h1>

<div class="block">
  <p>You searched for '<%= params[:query] %>'.</p>
  <p><%= pluralize(@products.size, "result")%> found.</p>
</div>

<% if @products.empty? %>
  <p>No products found.</p>
<% else %>
  <%= render @products %>
<% end %>