<h1 class="title is-3">Product Member</h1>
<%# render @product %>
<%= render partial: 'product',
            object: @product,
<<<<<<< HEAD
            locals: {show_page: true} %>
=======
            locals: {name_is_link: false} %>
>>>>>>> cf9f291e8c7b3d3928daa49f139d6df488c9c38e
