-------------------------------------------------------
<footer>
    <ul id="address">
        <li>850 8th St</li>
        <li>Canmore, Alberta</li>
        <li>T2W 5B4</li>
        <li>CANADA</li>
    </ul>
    <ul id="devBy">
        <li>Website Design & Development</li>
        <li>&bull;</li>
        <li>Marissa Steindel</li>
        <li>&bull;</li>
        <li>2022</li>
    </ul>
</footer>