<footer class="footer">
    <div class="columns is-centered">
            <div class="column is-3"></div>
            <p class="column has-text-centered">850 8th St</p>
            <p class="column has-text-centered is-2">Canmore, Alberta</p>
            <p class="column has-text-centered">T2W 5B4</p>
            <p class="column has-text-centered">CANADA</p>
            <div class="column is-3"></div>
    </div>
    <div class="columns is-centered">
        <div class="column is-2"></div>
        <p class="column has-text-centered is-4">Website Design & Development</p>
        <p class="column has-text-centered is-1">&bull;</p>
        <p class="column has-text-centered is-2">Marissa Steindel</p>
        <p class="column has-text-centered">&bull;</p>
        <p class="column has-text-centered is-1">2022</p>
        <div class="column has-text-centered is-2"></div>
    </div>
</footer>